[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

numpy = "*"
scipy = "*"
Cython = "*"
scikit-learn = "*"

[dev-packages]

bumpversion = "*"
coverage = "*"
mock = "*"
nose = "*"
pandas = "*"
seaborn = "*"
xlrd = "*"
pytest = "*"
tox = "*"
